<a href="https://colab.research.google.com/github/Sagar7893/gittestsample/blob/main/pandas_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
!pwd

/content

In [3]:
%cd /content/gdrive/My Drive/gitworks

/content/gdrive/My Drive/gitworks

In [4]:
import pandas as pd

df=pd.read_csv("Medicalpremium.csv")
df.head().T

                             0      1      2      3      4
Age                         45     60     36     52     38
Diabetes                     0      1      1      1      0
BloodPressureProblems        0      0      1      1      0
AnyTransplants               0      0      0      0      0
AnyChronicDiseases           0      0      0      1      1
Height                     155    180    158    183    166
Weight                      57     73     59     93     88
KnownAllergies               0      0      0      0      0
HistoryOfCancerInFamily      0      0      0      0      0
NumberOfMajorSurgeries       0      0      1      2      1
PremiumPrice             25000  29000  23000  28000  23000